.title-centered-hero {
  top: 22%;
  color: #363636 !important;
  text-align: center;
  z-index: 10;
}

.get-started {
  margin-bottom: 40px;
}

.hero-box-title {
  padding-top: 50px;
}

.my-logo {
  height: 55px;
  width: 55px;
}

.image-book-box {
  height: 250px;
  width: 230px;
  margin: auto;
  margin-bottom: 35px;
}

.image-book {
  height: 100%;
  width: 100%;
}

.activities {
  height: 100%;
  width: 100%;
  margin: 0 40px;
}

.activities img {
  height: 100%;
  width: 100%;
}